html {
    font-size: 100%
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0
}

main {
    margin: 0 20px
}

.flex {
    display: flex
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column
}

img {
    width: 100%;
    height: auto
}

.noMargin {
    margin: 0
}

#mainContainer {
    margin: 30px 0;
    display: flex;
    justify-content: center
}

#botContent {
    padding: 50px 0;
    margin: 0 0 50px 0
}

#rightContent {
    background-color: #f2f2f2;
    padding: 15px 25px;
    margin: 5px 25px;
    border-radius: 25px
}

button {
    background-color: #0065fc;
    color: #fff
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    font-size: larger
}

.hebergementsMarseille a,
.innerCardLeft a,
.innerCardRight a,
.mfCardContainer a {
    all: unset;
    cursor: pointer
}

.hebergementsMarseille a {
    flex: 0 0 33.33333%;
    width: -webkit-fill-available;
}

.small {
    font-size: small
}

.bold {
    font-weight: 700
}

.unstar {
    color: #f2f2f2
}

.black {
    color: #000;
}

.noDecoration {
    text-decoration: none;
}

.price {
    margin: 5px 0
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 2.5vw
}

.logo #logo {
    height: 50px;
    margin-top: 10px;
}

nav {
    width: 25%;
    display: flex;
    padding: 0 5px
}

.menu ul {
    margin: 5px;
    padding: 30px 0
}

nav a {
    list-style-type: none;
    cursor: pointer;
}

.menuBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 4px
}

.menuBox:hover a {
    color: #0065fc
}

.menuBox:visited a {
    color: #0065fc;
}

.searchFormContainer {
    margin: 30px 0
}

.searchForm {
    max-width: 380px;
    min-width: 280px;
    border: solid 1px #f2f2f2;
    border-radius: 15px;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between
}

.searchForm .fa-search {
    display: none
}

#pinMap {
    background-color: #f2f2f2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 15%;
    text-align: center;
    cursor: pointer
}

#pinMap:hover {
    color: #fff;
    background-color: #0065fc;
    transition: all .2s ease
}

input[type=search] {
    outline: 0;
    height: inherit;
}

#pinMap:not(:hover) {
    transition: all .2s ease
}

.inputSearchBox {
    font-weight: 700;
    border: none
}

.searchButton {
    height: inherit;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: 0 5%
}

.searchButton span {
    margin: 0
}

.searchButton:hover span {
    color: #0065fc
}

.searchButton:hover {
    background-color: #fff;
    transition: all .2s ease;
    border: solid 1px #f2f2f2
}

.searchButton:hover .fa-search {
    color: #0065fc
}

.searchButton:not(:hover) {
    transition: all .2s ease
}

#subHeader {
    display: flex;
    margin: 30px
}

.filterContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 5px 0
}

.filterTitle {
    margin: 0 5px 0 0
}

.chip {
    display: flex;
    align-items: center;
    flex-grow: 0;
    height: 45px;
    font-weight: 700;
    border-radius: 25px;
    background-color: #fff;
    border: 3px solid #f2f2f2;
    margin: 10px;
    border-left-style: none;
    cursor: pointer
}

.chip:hover {
    color: #fff;
    background-color: #0065fc;
    transition: all .2s ease
}

.chip:not(:hover) {
    transition: all .2s ease
}

.chip i {
    background-color: #deebff;
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: #0065fc;
    margin-left: -1px
}

.chip p {
    margin-right: 15px;
    overflow: hidden;
    white-space: nowrap
}

.iconInfo {
    height: 25px;
    width: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #fff;
    border: 3px solid #f2f2f2;
    margin: 0 10px 0 -3px;
    color: #0065fc
}

.mfCardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column
}

.mfCardContainer .card {
    padding: 3px;
    margin: 15px;
    align-items: center
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row
}

.card {
    background-color: #fff;
    border-radius: 25px;
    border: solid 1px #fff;
    padding: 3px;
    margin: 15px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 6%), 0 6px 6px rgb(0 0 0 / 6%);
}

.card,
.cardBorderless {
    transition: transform .3s ease-in-out;
}

.card:hover,
.cardBorderless:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgb(0 0 0 / 12%), 0 6px 6px rgb(0 0 0 / 8%)
}

.cardBody {
    margin-left: 10px
}

.cardFooter {
    margin: 5px 10px;
    color: #0065fc;
    white-space: nowrap
}

.hebergementsMarseille {
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 15px 0;
    margin: 5px 15px
}

.hebergementsMarseille .title,
.mostfamousTitle {
    padding: 0 30px;
    padding-top: 15px
}

.titleHouse {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.miniature {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px
}

.mostFamousPictures {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px
}

.mostFamousText {
    height: 150px;
    justify-content: space-around
}

#spanInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row
}

.info {
    font-size: smaller
}

.cardLeft {
    display: flex;
    flex: 0 0 50%;
    justify-content: space-evenly;
    height: 400px
}

.innerCardLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto
}

.cardRight {
    display: flex;
    flex: 0 0 50%;
    justify-content: space-evenly;
    height: 400px
}

.innerCardRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto
}

.bigMiniature {
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px
}

.mediumMiniature {
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px
}

.smallMiniature {
    width: 100%;
    height: 105px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px
}

.cardTitleFooter {
    margin-bottom: 15px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cardBorderless {
    border: none;
    background-color: #fff;
    border-radius: 25px;
    margin: 20px;
    padding-bottom: 5px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 6%), 0 6px 6px rgb(0 0 0 / 6%)
}

#footerContent {
    font-size: small;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    background-color: #f2f2f2;
    padding: 0 0 0 50px;
    height: 180px
}

#footerContent>div {
    flex-grow: 1;
    width: 33%
}

#footerContent ul {
    list-style-type: none;
    text-align: left;
    padding-inline-start: 0
}

#footerContent li {
    cursor: pointer;
    line-height: 20px
}

#footerContent li:hover {
    color: #0065fc
}

@media screen and (min-width:992px) {
    .activeLink {
        border-top: solid 2px #fff;
        color: #0065fc
    }
    .inactiveLink {
        border-top: solid 2px #fff;
        color: #000
    }
    .activeLink:hover {
        border-top: solid 2px #0065fc
    }
    .inactiveLink:hover {
        border-top: solid 2px #0065fc
    }
}

@media screen and (min-width:120px) and (max-width:768px) {
    .searchForm .fa-search {
        display: flex
    }
    .searchButton {
        border-radius: 15px
    }
    .searchButton span {
        display: none
    }
    .activeLink {
        border-bottom: solid 2px #fff;
        color: #0065fc
    }
    .inactiveLink {
        border-bottom: solid 2px #fff;
        color: #000
    }
    .activeLink:hover {
        border-bottom: solid 2px #0065fc
    }
    .inactiveLink:hover {
        border-bottom: solid 2px #0065fc
    }
    #rightContent {
        padding: 10px 10px;
        margin: 5px 0px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    body {
        display: flex;
        flex-direction: column;
        flex-flow: row
    }
    .filterContainer>.filterTitle {
        flex: 1 0 100%
    }
    .filterContainer {
        flex-flow: wrap;
        justify-content: flex-start
    }
    body {
        display: flex;
        flex-direction: column;
        flex-flow: row
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0
    }
    .logo #logo {
        min-height: 70px;
        max-height: 80px
    }
    nav {
        width: 70%;
        display: flex;
        margin: 2% 0 5% 0
    }
    #mainContainer {
        flex-direction: column-reverse
    }
    .cardContainer {
        flex-direction: column
    }
    .innerCardRight {
        width: auto;
        height: auto
    }
    .bigMiniature {
        height: 500px
    }
    .mediumMiniature {
        height: 200px
    }
    .smallMiniature {
        height: 200px
    }
    #footerContent {
        height: auto
    }
    .footerColumn {
        margin-top: 20px;
        width: 200px
    }
    .activeLink:hover {
        border-bottom: solid 2px #0065fc
    }
    .inactiveLink:hover {
        border-bottom: solid 2px #0065fc
    }
}

@media screen and (max-width:768px) {
    body {
        display: flex;
        flex-direction: column;
        flex-flow: row
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0
    }
    .logo #logo {
        min-height: 70px;
        max-height: 80px
    }
    nav {
        width: 70%;
        display: flex;
        margin: 2% 0 5% 0
    }
    .filterContainer>.filterTitle {
        flex: 1 0 100%
    }
    .filterContainer {
        flex-flow: wrap;
        justify-content: flex-start
    }
    .filterContainer>.chip {
        order: 1;
        margin-right: auto
    }
    #mainContainer {
        flex-direction: column-reverse
    }
    .cardContainer {
        flex-direction: column
    }
    .hebergementsMarseille {
        background-color: #fff
    }
    .cardLeft {
        flex-direction: column;
        flex: 0 0 100%
    }
    .cardRight {
        flex-direction: column;
        flex: 0 0 100%
    }
    .innerCardLeft {
        width: auto;
        height: auto
    }
    .innerCardRight {
        width: auto;
        height: auto
    }
    .bigMiniature {
        height: 200px
    }
    .mediumMiniature {
        height: 200px
    }
    .smallMiniature {
        height: 200px
    }
    #footerContent {
        height: auto;
        align-items: flex-start;
        flex-direction: column;
        padding: 50px
    }
    .footerColumn {
        margin-top: 20px;
        width: 200px
    }
}


/* HTML



... Lundi soutenance blanche ...

Hover image cards Effect
Responsive  Card flex grow


Diminuer le font size de rechercher optionnel




Mettre balise aside composant Most famous 


Balises section à la place de certaines div Html Section 







CSS 



 Mettre le logo d'applomb

le body padding à la place de margin sur le main

Enlever Images WebP  */