/* GENERAL LAYOUT 
Les couleurs de la charte sont le bleu (#0065FC),
bleu-clair (#DEEBFF) et le gris pour le fond (#F2F2F2)*/

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  letter-spacing: -0.5px;
}

main {
  padding: 0 2%;
  margin: 0 4%;

}

#mainContainer {
  display: flex;
}

#topContent {
  flex: 0 0 66.666666%;

}

#botContent {
  flex: 0 0 33.333333%;
}

#leftContent {
background-color: #F2F2F2;
border-radius: 1%;
padding: 2%;
margin: 2%;
}

button {
  background-color: #0065FC;
  color: white;
}

.bold {
  font-weight: bold;
}

.grey {
  color:grey;
}


/* HEADER */
header {
  display: flex;
  justify-content: space-between;
}
.logo #logo {
  justify-content: space-around;
  display: flex;
  height: 50px;
  padding: 20px 70px;
  margin: 0 30px;
}

nav {
  width: 25%;  
  display: flex;
  margin: 0 2%;

}
.menu a {
  margin: 2%;
  text-decoration: none;
  padding: 2%;
}
hr {
  margin-top: 0px;
}

.menuBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 4px;
}

.menuBox:hover a{
  color: #0065FC; 
}

.activeLink {
  border-top: solid 2px #0065FC;
  color: #0065FC;
}
.inactiveLink {
  color: black;
}

/* search form */
.searchForm {
  width: fit-content;
  border: solid 1px #F2F2F2;
  border-radius: 15px;
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: space-between;
  }

  #pinMap {
    background-color: #f2f2f2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 15%;
    text-align: center;
  }

  .inputSearchBox {
    height: 40px;
    width: 50%;
    font-weight: bold;
    border: none;
  }

  .searchButton {
    height: inherit;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    border: none;
  }
/* SUBHEADER - Filters */

.filterContainer {
  display: flex;
  justify-content: start;
  align-items: center;
}
.chip {
  display: flex;
  align-items: center;
  flex-grow: 0;
  height: 35px;
  font-weight: bold;
  border-radius: 25px;
  background-color: white;
  border: 3px solid #F2F2F2;
  margin: 10px;
  }
  .chip i {
    background-color: #DEEBFF;
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 41px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: #0065FC;
    margin-left: -1px;
  }
  
  .chip p {
    margin-right: 15px;
  }
.chip img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }


  /* SUBHEADER - Text  */

  .iconInfo {
    height: 20px;
    width: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    border: 3px solid #F2F2F2;
    margin: 10px;
    color: #0065FC;
  }


/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
  

  /* Hebergements - Cards */

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.card { 
  flex: 0 0 33.333333%;
  background-color: white;
  border-radius: 25px;
  border: solid 1px white;
  padding: 1%;
  margin: 2%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.hebergementsMarseille {
  background-color: #F2F2F2;
  border-radius: 1%;
  padding: 2%;
  margin: 2%;
}

#miniature {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#spanInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.info {
  font-size: smaller;
}

.icon {
  padding: 1%;
}



  /*TO DO FOOTER FLEX*/

#footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  background-color: #F2F2F2;
}