body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
}
.logo i {
  justify-content: space-around;
  display: flex;
  width: 250px;
}

nav {
  width: 25%;  
  display: flex;
  margin: 0 2%;

}
.menu a {
  margin: 2%;
  text-decoration: none;
  padding: 2%;
}
hr {
  margin-top: 0px;
}

.menuBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 4px;
}

.menuBox:hover a{
  color: #0065FC; 
}

.activeLink {
  border-top: solid 2px #0065FC;
  color: #0065FC;
}
.inactiveLink {
  color: black;
}

/* GENERAL LAYOUT 
Les couleurs de la charte sont le bleu (#0065FC),
bleu-clair (#DEEBFF) et le gris pour le fond (#F2F2F2)*/
main {
  padding: 2%;
  margin: 2%;

}

#mainContainer {
  display: flex;
}

#topContent {
  flex: 0 0 66.666666%;

}

#botContent {
  flex: 0 0 33.333333%;
}

#leftContent {
background-color: #F2F2F2;
border-radius: 1%;
padding: 2%;
margin: 2%;
}

button {
  background-color: #0065FC;
  color: white;
}

/* SUB - HEADER */

.filterContainer {
  display: flex;
}
.chip {
    display: flex;
    align-items: center;
    flex-grow: 0;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: white;
    border: 3px solid #F2F2F2;
    margin: auto;
  }
  .chip i {
    background-color: #DEEBFF;
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: #0065FC;
  }
  
  .chip p {
    margin-right: 15px;
  }
.chip img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }


  /* search form */
.searchForm {
    width: fit-content;
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    height: 45px;
    align-items: center;
  }

  .searchForm i {
    margin: 0 15px;
  }

  .inputSearchBox {
    height: 40px;
    width: 50%;
    font-weight: bold;
  }

  .searchButton {
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
  }

  /* Hebergements - Cards */

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.card { 
  flex: 0 0 33.333333%;
  background-color: white;
  border-radius: 1%;
  padding: 2%;
  margin: 2%;
}

.hebergementsMarseille {
  background-color: #F2F2F2;
  border-radius: 1%;
  padding: 2%;
  margin: 2%;
}

#miniature {
  height: 100px;
  object-fit: contain;
  max-width: 100%;
  height: auto;
  vertical-align: middle;

}

#spanInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.icon {
  padding: 1%;
}



  /*TO DO FOOTER FLEX*/

#footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  background-color: #F2F2F2;
}