/* GENERAL LAYOUT 
Les couleurs de la charte sont le bleu (#0065FC),
bleu-clair (#DEEBFF) et le gris pour le fond (#F2F2F2)*/

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

main {
  padding: 0 2%;
  margin: 0 2%;
  display: flex;
  flex-direction: column;

}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
#mainContainer {
  display: flex;
  justify-content: center;
}

#topContent {
  flex: 0 0 66.666666%;

}

#botContent {
  /* flex: 0 0 33.333333%; */
}

#rightContent {
background-color: #F2F2F2;
padding: 2%;
margin: 1%;
border-radius: 25px;
flex: 0 0 33.333333%;
}

button {
  background-color: #0065FC;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  font-size: larger;
}
.small {
  font-size: small;
}

.bold {
  font-weight: 600;
}

.grey {
  color:grey;
}

.unstar {
  color: #f2f2f2;
}
.price {
margin: 5px 0;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
}
.logo #logo {
  justify-content: space-around;
  display: flex;
  height: 50px;
  padding: 20px 20%;
  margin: 0 30px;
}

nav {
  width: 25%;  
  display: flex;
  margin: 0 2%;

}
.menu a {
  margin: 2%;
  text-decoration: none;
  padding: 2%;
}
hr {
  margin-top: 0px;
}

.menuBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 4px;
}

.menuBox:hover a{
  color: #0065FC; 
}

.activeLink {
  border-top: solid 2px #0065FC;
  color: #0065FC;
}
.inactiveLink {
  color: black;
}

/* SEARCH FORM */

.searchFormContainer {
  margin: 2% 0;
}
.searchForm {
  width: 300px;
  border: solid 1px #F2F2F2;
  border-radius: 15px;
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  }

  #pinMap {
    background-color: #f2f2f2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 15%;
    text-align: center;
    cursor: pointer;
  }

  #pinMap:hover{
    color: white;
    background-color: #0065FC;
    transition: all 0.2s ease;

  }

  /* specifically hide the arrow on focus */
  input[type="search"] {
    outline: none;
    margin: 0 10px;
  }

  #pinMap:not(:hover) {
    transition: all 0.2s ease;
   } 

  .inputSearchBox {
    width: 50%;
    font-weight: bold;
    border: none;
  }

  .searchButton {
    height: inherit;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 0 5%;
  }

  .searchButton:hover{
    color: #0065FC;
    background-color: white;
    transition: all 0.2s ease;
    border: solid 1px #F2F2F2;

  }

  .searchButton:not(:hover) {
    transition: all 0.2s ease;
   } 


/* SUBHEADER - Filters */

 #subHeader {
  display: flex;
 }

 .rightSubHeader {
 }

 .leftSubHeader {
 }
.filterContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 2% 0; 
}

.filterTitle {
margin: 0 2% 0 0;
}

.chip {
  display: flex;
  align-items: center;
  flex-grow: 0;
  height: 35px;
  font-weight: bold;
  border-radius: 25px;
  background-color: white;
  border: 3px solid #F2F2F2;
  margin: 10px;
  border-left-style: none;
  }
  .chip i {
    background-color: #DEEBFF;
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 41px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: #0065FC;
    margin-left: -1px;
  }
  
  .chip p {
    margin-right: 15px;
  }
.chip img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }


  /* SUBHEADER - Text  */

  .iconInfo {
    height: 20px;
    width: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    border: 3px solid #F2F2F2;
    margin: 0px 10px 0px -3px;
    color: #0065FC;
  }

/* Most Famous Section */

.mfCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.mfCardContainer .card {
  width: -webkit-fill-available;
  padding: 5px;
  margin: 5%;
  align-items: center;
}

  /* Hebergements - Cards */

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}


.card { 
  flex: 1 1 25%;
  background-color: white;
  border-radius: 25px;
  border: solid 1px white;
  padding: 3px;
  margin: 2%;
  box-shadow: 0 5px 15px rgb(0 0 0 / 6%), 0 6px 6px rgb(0 0 0 / 6%);
}

.cardBody {
  margin-left: 10px;
}

.cardFooter {
  margin: 5px 10px;
  color: #0065FC;
}

.hebergementsMarseille {
  background-color: #F2F2F2;
  border-radius: 25px;
  padding: 2%;
  margin: 2%;
}

.hebergementsMarseille .title {
  padding: 0 40px;
  padding-top: 20px;
}

.titleHouse {
  margin-bottom: 0;
}

#miniature {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}


.mostFamousPictures {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}


#spanInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.info {
  font-size: smaller;
}

.icon {
  padding: 1%;
}

/* ACTIVITES */


.cardLeft {
  display: flex;
  flex: 0 0 50%;
  justify-content: space-evenly;
  height: 420px;
}
.innerCardLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
}

.cardRight {
  display: flex;
  flex: 0 0 50%;
  justify-content: space-evenly;
  height: 420px;

}
.innerCardRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
}


.bigMiniature {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.mediumMiniature {
  width: 100%;
  height: 165px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.smallMiniature {
  width: 100%;
  height: 105px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.cardTitleFooter {
  margin-bottom: 15px;
}
  /*FOOTER Links*/

#footerContent {
  font-size: small;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  background-color: #F2F2F2;
  margin: 50px 0 0px 0;
  height: 200px;
}


#footerContent ul {
  list-style-type: none;
  text-align: left;
  padding-inline-start:0px
}


#footerContent li {
  cursor: pointer;
}

#footerContent li:hover {
  color: #0065FC;
}

/* MEDIA QUERIES */

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 


}



/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 


}